.facebook-button {
	border-radius: 30px;
	border: "0px none ";
	height: "40px";
	width: 60%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #1877f2;
	color: white;
	cursor: pointer;
	font-weight: "bold";
}
.google-button {
	border-radius: 30px;
	border: "0px none ";
	height: "40px";
	width: 60%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #fafafa;
	color: red;
	cursor: pointer;
	font-weight: "bold";
}
