.active {
	background-color: black;
	color: white;
}
.active:hover {
	background-color: black;
	color: white;
}
.notActive {
	background-color: #fff;
	color: black;
}
.today {
	background-color: transparent;
	color: black;
}
.today:hover {
	background-color: #efefef;
	color: black;
}

.notActive:hover {
	background-color: #efefef;
	color: black;
}
