.home_page_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1% 8%;
    column-gap: 1.5%;
    gap: 1.5%;
}


@media only screen and (max-width: 600px) {
    .home_page_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
    }
     
  }

  @media only screen and (max-width: 400px) {
    .home_page_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
     
  }

 


